<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
</head>
<body>
    <h2>Lista de Produtos</h1>

    <ol>
        {% for prod in products %}
            <li>{{prod}} - <a href="{% url 'products_edit' prod.id %}">Editar</a> - <a href="{% url 'products_delete' prod.id %}">Excluir</a></li>
        {% endfor %}        
    </ol>
    <p style="padding-top:50px;"><a href="{% url 'home' %}">Voltar para Home</a></p> 
</body>
</html>